@import url('jquery/jquery-ui-1.7.custom.css');


div.plc-topo,div.plc-topo-classico {
	background: #FFFAFA;
	border-bottom: 0px solid #6E6E6E !important;
	border-radius: 10px;
	-moz-border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
	-moz-box-shadow: 0 1px 2px 0 #DFDDE0;
	-webkit-box-shadow: 0 1px 2px 0 #DFDDE0;
}

div.plc-topo-aplicacao {
	font: italic 18px "Segoe UI", Arial, sans-serif;
	color: #46494A;
	text-shadow: 1px 1px 1px #FFF;
}

div.plc-topo-titulo {
	padding-top: 20px;
	background:  #c0f78a;
	border: 1px solid #9CA0A2;
	font: bold 18px/28px "Segoe UI", Arial, sans-serif;
	color: #000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 1px 1px #D3D6D8;
	-webkit-box-shadow: 0 0 1px 1px #D3D6D8
	
}

div.plc-topo-menu {
	/*background: #B8B8B8 url(bg_menu_topo.jpg) repeat-x 0 0 !important;
	border: 1px solid #9DA2A4 !important;
	border-radius : 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-box-shadow: 0 0 1px 1px #D3D6D8;
	-webkit-box-shadow: 0 0 1px 1px #D3D6D8; */
}
/* menu */

.ui-state-default .ui-icon {
	background-image: url(jquery/images/ui-icons_ffffff_256x240.png);
}

div.plc-menu-sistema-pulldown ul li {
	border-right: 1px solid #BFBFBF !important;
}

div.plc-menu-sistema-pulldown ul li.ui-state-hover {
	background: #d33938 /*red*/ !important;
	border: none !important;
	border-right: 1px solid #BFBFBF !important;
	color: #434343 !important;
}

div.plc-menu-sistema-pulldown ul li a {
	color: #FFF;
	/*text-shadow: 1px 1px 0 #EEEDED;*/
}

div.plc-menu ul li a:hover {
	color: #FFF;
	font-weight: normal;
}
/* 2� n�vel */
div.plc-menu-sistema-pulldown ul ul {
	background: #d33938 !important;
	border: none !important;
	border-radius: 4px;
	-moz-border-radius: 0 8px 8px 8px;
	-webkit-border-radius: 0 8px 8px 8px;
	-moz-box-shadow: 0 4px 6px -2px #C8CBCC;
	-webkit-box-shadow: 0 4px 6px -2px #C8CBCC;
	padding-bottom: 10px;
}

div.plc-menu ul li li,div.plc-menu ul ul li.ui-state-hover {
	border-right: none !important;
}

div.plc-menu ul ul li a:hover {
	background: red /*red*/ !important; /*#CDCBCB url(bg_menu_hover.jpg) repeat-x 0 0*/;
}

div.plc-menu-classico {
	width: 19% !important;
	border-right: 1px solid #AAADAE !important;
}

div.plc-menu-oriental {
	width: 19% !important;
	border-left: 1px solid #AAADAE !important;
}

div.plc-menu-classico ul,div.plc-menu-oriental ul {
	border: none !important;
}

div.plc-menu-classico ul li,div.plc-menu-oriental ul li {
	background: #E5E5E5 !important;
	border: none !important;
}

div.plc-menu-classico ul ul li,div.plc-menu-oriental ul ul li {
	background: #D2D2D2 !important;
}

div.plc-menu-classico ul ul ul li,div.plc-menu-oriental ul ul ul li {
	background: #BDBDBD !important;
}

div.plc-menu-classico ul a:hover,div.plc-menu-oriental ul a:hover {
	background: #5C5C5C url(bg_menu_vertical.jpg) repeat-x 0 0 !important;
	color: #FFF !important;
}
/* rodape */
div.plc-rodape,div.plc-rodape-classico {
	background: #FFFAFA;
	border-top: 1px solid #AEADB2 !important;
	color: #222526 !important;
	border-radius: 10px;
	border-top-left-radius:0;
	border-top-right-radius:0;
	-moz-border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
}
/*  */
div.plc-corpo {
	background: #FFFAFA;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
/* Bot�es */
button,.plc-botao {
	background: #d33938 !important;
	border: 1px solid #AFAEAE !important;
	border-radius : 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 1px 1px -1px #FFFFFF;
	-webkit-box-shadow: 0 1px 1px -1px #FFFFFF;
}

button div.plc-corpo-acao-t,.plc-botao div.plc-corpo-acao-t {
	color: #FFF;
}

button:hover,.plc-botao:hover {
	background-position: 100% 50% !important;
	border-color: #073600 /*red*/ !important;
	background-color:red /*red*/ !important;
	background: red /*red*/ !important;
}
/* login - logout */
div.plc-login-formulario {
	background: #d33938;
	border: 1px solid #6B6B6B;
	border-radius : 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 0 7px 0 #79787A;
	-webkit-box-shadow: 0 0 7px 0 #79787A;
}

div.plc-login input {
	border-color: #80878E #CDD6E0 #CDD6E0 #80878E !important;
	font: 11px Tahoma, sans-serif;
	color: #6A7075;
	border-radius : 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: inset 0 0 7px 0 #E5E5E5;
	-webkit-box-shadow: inset 0 0 7px 0 #E5E5E5;
}

div.plc-login-botao input {
	background: #C0C0C0 url(bg_botao.png) repeat-x 0 50% !important;
	border: 1px solid #AFAEAE !important;
	border-radius : 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: 0 1px 1px -1px #FFFFFF;
	-webkit-box-shadow: 0 1px 1px -1px #FFFFFF;
	text-shadow: 1px 1px 0 #FFFFFF;
	color: #000000;
}

div.plc-login-botao input:hover {
	background-position: 100% 50% !important;
	border-color: #9E9E9E !important;
}

div.plc-corpo input,div.plc-corpo input.radio,div.plc-corpo select,div.plc-corpo input.checkbox,div.plc-corpo textarea
	{
	border-color: #80878E #CDD6E0 #CDD6E0 #80878E !important;
	font: 11px Tahoma, sans-serif;
	color: #6A7075;
	border-radius : 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-box-shadow: inset 0 0 7px 0 #E5E5E5;
	-webkit-box-shadow: inset 0 0 7px 0 #E5E5E5;
}
/*  */
legend input {
	background: none !important;
	border: none;
}
/* Mensagens */
div.plc-msg-sucesso {
	background: #D7EBF2 url(bg_msgOk.jpg) repeat-x 0 0 !important;
	border-color: #7DA5B2 !important;
	color: #3E3E3E !important;
	-moz-box-shadow: 0 1px 1px -1px #FFFFFF;
	-webkit-box-shadow: 0 1px 1px -1px #FFFFFF;
}

div.plc-msg-advertencia {
	
}

div.plc-msg-erro {
	background: #FFECEC url(bg_msgErro.jpg) repeat-x 0 0 !important;
	border-color: #C38C8C !important;
	color: #510909;
	-moz-box-shadow: 0 1px 1px -1px #FFFFFF;
	-webkit-box-shadow: 0 1px 1px -1px #FFFFFF;
}

